* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-weather-a {
    /* /* background: black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    gap: 20px;
    background-image: url(images/weather2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    ;
    background-image: url(images/weather2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.card {
    width: 100%;
    max-width: 470px;
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 35px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 20px;
    background: rgba(76, 76, 76, 0.738);
    box-shadow: 0 4px 30px rgba(75, 75, 75, 0.543);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
    ;
    background: rgba(76, 76, 76, 0.738);
    box-shadow: 0 4px 30px rgba(75, 75, 75, 0.543);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(5px);
}

.main-section {
    height: 80%;
}

.search {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 80%;
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    color: #555;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background-color: #ebfffc;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.search button img {
    width: 30%
}

.weather-icon {
    width: 50%;
    margin-top: 30px
}

.weather h1 {
    font-size: 3rem;
    font-weight: 500;
}

.weather h2 {
    font-size: 2rem;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 0px;
    width: 90%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    width: 30%;
}

.col img {
    width: 40%;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 1.2rem;
    margin-top: -6px;
}


/* .daily-weather {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    z-index: -1;
} */

.weather-icon {
    margin: 0
}

.daily-weather .section {
    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 10px;
    gap: 20px;
    color: white;
    text-transform: capitalize;
    background-color: rgba(217, 216, 216, 0.245);
    box-shadow: 0 4px 30px rgba(75, 75, 75, 0.543);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(217, 216, 216, 0.245);
    box-shadow: 0 4px 30px rgba(75, 75, 75, 0.543);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}

.daily-weather .section .weather-icon {
    width: 35%;
}

.daily-weather .section h4,
.daily-weather .section h3 {
    font-size: 15px;
}

.daily-weather .section .humidity {
    font-size: 15px;
}

.link {
    cursor: pointer;
    color: rgb(252, 164, 0);
    display: none;
    font-weight: 800;
    font-size: 1.2rem;
    text-transform: capitalize;
}

.forecast-container {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    background-color: rgba(85, 85, 85, 0.558);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.forecast-container.show {
    opacity: 1;
    z-index: 1;
}

.forecast {
    position: relative;
    width: 100%;
    height: 100%;
}

.daily-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    /* /* background-color: rgba(0, 0, 0, 0.314); */
    background-image: url(images/weather-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    */ background-image: url(images/weather-bg.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.daily-weather .section {
    width: 40%;
    height: 70%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out
}

.daily-weather .section.show {
    opacity: 1;
}

.forecast .fa-solid.fa-chevron-right {
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.forecast .fa-solid.fa-chevron-left {
    color: white;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.daily-forecast-close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 149, 149);
    position: absolute;
    top: 10%;
    right: 25%;
}

.daily-forecast-close i {
    color: white
}


/* .daily-weather.show {
    opacity: 1;
} */

.stop {
    pointer-events: none;
}

@media (max-width:850px) {
    .details {
        flex-direction: column;
        padding: 0 0;
        width: auto;
        gap: 10px
    }
    .daily-weather .section .col {
        display: block
    }
    .daily-weather .section {
        width: 90%;
        height: 50%;
    }
    .daily-weather h3 {
        font-size: 0.7rem;
    }
    .daily-weather .section {
        width: 60%;
        height: 60%;
    }
    .col img {
        width: 60%;
    }
    .weather-icon {
        width: 70%;
    }
    .daily-forecast-close {
        top: 12%;
        right: 15%;
    }
    .daily-weather .section .weather-icon {
        width: 20%;
    }
}

.app-w-icon {
    font-size: 20px;
    color: white;
}

.back-weather {
    width: 140px;
    height: 60px;
    border-radius: 20px;
    background: none;
    border-radius: solid white 2px;
}

.back-weather {
    width: 140px;
    height: 60px;
    border-radius: 20px;
    background: none;
    border-radius: solid white 2px;
}