
/*         Font-family                 */

$title-family-font: Helvetica,sans-serif;
$other-family-font:"Lucida Console",
"Courier New",
monospace;



/*          Background   Color           */
$primary-background-color:white;
$secondary-background-color:black;

/*            Button     Color          */
$button-color:orange;
$button-hover-color:green;

/*            Text color                */
$primary-text-color:black;
$secondary-text-color:grey;
$third-text-color:white;


/*            Background                */
$border-line-color:black;


/*           Border-radius               */

$border-radius: 26px;