

.card {
    width: 300px;

    color: $primary-text-color;
    margin-top: 10px;
    border-radius: $border-radius;
    padding: 35px 0px;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    background:rgb(98, 98, 101, 0.1);
    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
  

    .icon-weather {
        font-size: 80px;
        padding: 20px;
        color: $primary-text-color;
    }
    p{
        text-align: center;
    }
    h1{
        padding-top:10px ;
        font-size: 10px ;
    }
    h3{
        font-size: 16px;
    }
    h2{
        padding-top:20px ;
    }
}


.search {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    width: 60%;
    border: 0;
    outline: 0;
    background-color: $primary-background-color;
    color: #555;
    padding: 10px 25px;
    height: 30px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: $primary-background-color;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.search button img {
    width: 30%
}

.weather-icon {
    width: 50%;
    margin-top: 30px
}

.weather h1 {
    font-size: 20px;
    font-weight: 500;
}

.weather h2 {
    margin-top: 10px;
    font-size: 2rem;
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 0px;
    width: 90%;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
    width: 30%;
}

.col img {
    width: 40%;
    margin-right: 10px;
}

.humidity,
.wind {
    font-size: 1.2rem;
    margin-top: -6px;
}


/* .daily-weather {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    gap: 10px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    z-index: -1;
} */

.weather-icon {
    margin: 0
}

.daily-weather .section {
    width: 35%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 20px 10px;
    gap: 20px;
    color: $primary-text-color;
    text-transform: capitalize;
    background: rgba(33, 188, 255, 0.1);
    box-shadow: 0px 0px 16px 0px rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
}

.daily-weather .section .weather-icon {
    width: 35%;
}

.daily-weather .section h4,
.daily-weather .section h3 {
    font-size: 15px;
}

.daily-weather .section .humidity {
    font-size: 15px;
}

.link {
    cursor: pointer;
    color: $hover;
    display: none;
    font-weight: 800;
    font-size: 16px;
    text-transform: capitalize;
    width: 150px;
}

.forecast-container {
    width: 100%;
    height: 100dvh;
    position: absolute;
    top: 0;
    background-color: rgba(85, 85, 85, 0.558);
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    z-index: -1;
}

.forecast-container.show {
    opacity: 1;
    z-index: 1;
}

.forecast {
    position: relative;
    width: 100%;
    height: 100%;
}

.daily-weather {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.314);
}

.daily-weather .section {
    width: 40%;
    height: 70%;
    position: absolute;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    -webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out
}

.daily-weather .section.show {
    opacity: 1;
}

.forecast .fa-solid.fa-chevron-right {
    color: white;
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.forecast .fa-solid.fa-chevron-left {
    color: $primary-text-color;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.daily-forecast-close {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(159, 149, 149);
    position: absolute;
    top: 10%;
    right: 25%;
}

.daily-forecast-close i {
    color: $primary-text-color;
}


/* .daily-weather.show {
    opacity: 1;
} */

.stop {
    pointer-events: none;
}

@media (max-width:850px) {
    .details {
        flex-direction: column;
        padding: 0 0;
        width: auto;
        gap: 10px
    }
    .daily-weather .section .col {
        display: block
    }
    .daily-weather .section {
        width: 90%;
        height: 50%;
    }
    .daily-weather h3 {
        font-size: 0.7rem;
    }
    .daily-weather .section {
        width: 60%;
        height: 60%;
    }
    .col img {
        width: 60%;
    }
    .weather-icon {
        width: 70%;
    }
    .daily-forecast-close {
        top: 12%;
        right: 15%;
    }
    .daily-weather .section .weather-icon {
        width: 20%;
    }
}